#navBckgImg1 {
    background-image: url('../images/story.png');
    background-position: center center !important;
    background-size: cover !important;
    height: 580px;
    width: 100%;
}

#navBckgImg2 {
    background-image: url('../images/code.png') !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 580px;
    width: 100%;
}

img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.topHeader {
    padding-bottom: 5vh;
}

.topMessage {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 5vw;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: inline-block;
}

.arrow {
    height: 150px;
    width: 150px;
    cursor: pointer;
    margin-top: 50px;
}

#begin {
    background-image: url('../images/bckgNarrow.png');
    background-repeat: repeat-y;
    background-position: center center;
    border: 0 none;
    outline: none;
    color: white;
    overflow-x: hidden;
}

h1 {
    margin: 25px auto 60px auto;
    width: 75%;
    font-size: 5vw;
    color: black;
    text-align: center;
}

p {
    margin: auto;
    width: 70%;
    font-size: 40px;
    color: black;
    text-align: center;
}

.rainbow {
    text-shadow: 2px 2px 4px #000000;
    animation: rainbow 5s infinite; 
}

@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

#greenSquare {
    background-color: green;
    margin: 100px auto 60px auto;
    width: 70%;
    padding-bottom: 70px;
}

#greenSquare h1 {
    color: white;
    padding-top: 60px;
}

#greenSquare p {
    font-size: 30px;
    width: 80%;
    color: white;
    text-align: left;
}

.itMe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#getInTouch p {
    font-size: 30px;
}

#getInTouch a {
    text-decoration: none;
}

#getInTouch .boxed {
    color: white;
    background-color: green;
    width: 250px;
    height: 44px;
    text-align: center;
    padding-top: 12px;
}

#footer {
    background-color: black;
    width: 100%;
    height: 15rem;
  }
  
  .footer {
    -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);
      filter:drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);
    position: relative;
  }
  
  #footer-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  #footer-menu ul li {
    color: #b9b9b9;
    display: inline-block;
    font-size: 30px;
    margin: 3% 5%;
  }
  
  .navfoot {
    color: #b9b9b9;
    text-decoration: none;
    list-style: circle;
  }

@media (max-width: 640px) {
    #navBckgImg {
      height: 300px;
    }

    .arrow {
        margin-top: 20px;
    }

    h1 {
        margin: auto;
        width: 100%;
        font-size: 5vw;
        color: black;
        text-align: center;
        padding-bottom: 30px;
    }
    
    p {
        font-size: 20px;
        color: black;
        text-align: left;
    }

    #greenSquare p {
        font-size: 15px;
        width: 80%;
        color: white;
        text-align: left;
    }

    #getInTouch p {
        font-size: 20px;
        text-align: center;
    }
}